body{
    font-family: Arial, sans-serif;
}
.weather{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}
#city{
    color: #878787;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}
#btn-input{
    margin-left: 30px;
}
#link{
    display: inline-block;
}